# Neural Machine Translation

Welcome to your first programming assignment for this week! 

You will build a Neural Machine Translation (NMT) model to translate human readable dates ("25th of June, 2009") into machine readable dates ("2009-06-25"). You will do this using an attention model, one of the most sophisticated sequence to sequence models. 

This notebook was produced together with NVIDIA's Deep Learning Institute. 

Let's load all the packages you will need for this assignment.

In [1]:
from keras.layers import Bidirectional, Concatenate, Permute, Dot, Input, LSTM, Multiply
from keras.layers import RepeatVector, Dense, Activation, Lambda
from keras.optimizers import Adam
from keras.utils import to_categorical
from keras.models import load_model, Model
import keras.backend as K
import numpy as np

from faker import Faker
import random
from tqdm import tqdm
from babel.dates import format_date
from nmt_utils import *
import matplotlib.pyplot as plt
%matplotlib inline

Using TensorFlow backend.

## 1 - Translating human readable dates into machine readable dates

The model you will build here could be used to translate from one language to another, such as translating from English to Hindi. However, language translation requires massive datasets and usually takes days of training on GPUs. To give you a place to experiment with these models even without using massive datasets, we will instead use a simpler "date translation" task. 

The network will input a date written in a variety of possible formats (*e.g. "the 29th of August 1958", "03/30/1968", "24 JUNE 1987"*) and translate them into standardized, machine readable dates (*e.g. "1958-08-29", "1968-03-30", "1987-06-24"*). We will have the network learn to output dates in the common machine-readable format YYYY-MM-DD. 



<!-- 
Take a look at [nmt_utils.py](./nmt_utils.py) to see all the formatting. Count and figure out how the formats work, you will need this knowledge later. !-->

### 1.1 - Dataset

We will train the model on a dataset of 10000 human readable dates and their equivalent, standardized, machine readable dates. Let's run the following cells to load the dataset and print some examples.

In [2]:
m = 10000
dataset, human_vocab, machine_vocab, inv_machine_vocab = load_dataset(m)

100%|██████████| 10000/10000 [00:02<00:00, 4764.85it/s]

In [3]:
dataset

[('9 may 1998', '1998-05-09'),
 ('10.09.70', '1970-09-10'),
 ('4/28/90', '1990-04-28'),
 ('thursday january 26 1995', '1995-01-26'),
 ('monday march 7 1983', '1983-03-07'),
 ('sunday may 22 1988', '1988-05-22'),
 ('tuesday july 8 2008', '2008-07-08'),
 ('08 sep 1999', '1999-09-08'),
 ('1 jan 1981', '1981-01-01'),
 ('monday may 22 1995', '1995-05-22'),
 ('friday june 16 1978', '1978-06-16'),
 ('friday june 18 1999', '1999-06-18'),
 ('8 oct 1987', '1987-10-08'),
 ('tuesday april 1 2008', '2008-04-01'),
 ('6 september 2012', '2012-09-06'),
 ('12 november 1981', '1981-11-12'),
 ('friday august 19 2011', '2011-08-19'),
 ('25 08 07', '2007-08-25'),
 ('18 september 1982', '1982-09-18'),
 ('friday february 25 1994', '1994-02-25'),
 ('friday march 19 1976', '1976-03-19'),
 ('20.02.06', '2006-02-20'),
 ('17.01.98', '1998-01-17'),
 ('october 24 2009', '2009-10-24'),
 ('17 apr 2004', '2004-04-17'),
 ('03.05.81', '1981-05-03'),
 ('31 jan 1980', '1980-01-31'),
 ('01 jan 1984', '1984-01-01'),
 ('5 dec 2018', '2018-12-05'),
 ('saturday april 19 1975', '1975-04-19'),
 ('sunday december 5 1982', '1982-12-05'),
 ('tuesday march 30 1993', '1993-03-30'),
 ('01.12.91', '1991-12-01'),
 ('august 8 1971', '1971-08-08'),
 ('friday march 23 2001', '2001-03-23'),
 ('sunday february 7 1993', '1993-02-07'),
 ('saturday october 30 1971', '1971-10-30'),
 ('10/2/04', '2004-10-02'),
 ('1 january 2017', '2017-01-01'),
 ('friday april 10 1998', '1998-04-10'),
 ('3/27/70', '1970-03-27'),
 ('15 jun 1970', '1970-06-15'),
 ('march 7 2015', '2015-03-07'),
 ('23.02.81', '1981-02-23'),
 ('23 jun 2009', '2009-06-23'),
 ('3/4/82', '1982-03-04'),
 ('7/2/89', '1989-07-02'),
 ('october 9 1976', '1976-10-09'),
 ('wednesday may 28 2014', '2014-05-28'),
 ('18 mar 1998', '1998-03-18'),
 ('wednesday march 16 1977', '1977-03-16'),
 ('sunday may 15 2016', '2016-05-15'),
 ('monday may 4 2009', '2009-05-04'),
 ('13 may 1982', '1982-05-13'),
 ('9 jul 1995', '1995-07-09'),
 ('wednesday october 30 1985', '1985-10-30'),
 ('august 19 2005', '2005-08-19'),
 ('23 jul 2010', '2010-07-23'),
 ('tuesday april 10 2018', '2018-04-10'),
 ('13.06.92', '1992-06-13'),
 ('wednesday september 27 1972', '1972-09-27'),
 ('wednesday october 23 1985', '1985-10-23'),
 ('25 feb 1978', '1978-02-25'),
 ('22 12 03', '2003-12-22'),
 ('september 22 1984', '1984-09-22'),
 ('wednesday october 10 2007', '2007-10-10'),
 ('jul 29 2015', '2015-07-29'),
 ('tuesday august 24 1982', '1982-08-24'),
 ('friday july 17 1987', '1987-07-17'),
 ('20 jan 2010', '2010-01-20'),
 ('wednesday july 7 1999', '1999-07-07'),
 ('07.04.05', '2005-04-07'),
 ('2 november 1978', '1978-11-02'),
 ('october 29 1972', '1972-10-29'),
 ('tuesday march 3 1981', '1981-03-03'),
 ('wednesday july 4 1990', '1990-07-04'),
 ('21 aug 1970', '1970-08-21'),
 ('24 mar 1980', '1980-03-24'),
 ('4 aug 1985', '1985-08-04'),
 ('tuesday october 19 1993', '1993-10-19'),
 ('sep 9 2006', '2006-09-09'),
 ('friday april 9 1993', '1993-04-09'),
 ('saturday september 6 1980', '1980-09-06'),
 ('4/8/96', '1996-04-08'),
 ('monday january 13 1992', '1992-01-13'),
 ('monday november 16 1970', '1970-11-16'),
 ('thursday may 10 1973', '1973-05-10'),
 ('22 february 1974', '1974-02-22'),
 ('wednesday june 6 2018', '2018-06-06'),
 ('sunday april 16 2000', '2000-04-16'),
 ('wednesday may 7 1975', '1975-05-07'),
 ('thursday may 30 1996', '1996-05-30'),
 ('3/20/82', '1982-03-20'),
 ('oct 19 1970', '1970-10-19'),
 ('jun 23 2018', '2018-06-23'),
 ('january 10 1995', '1995-01-10'),
 ('27 august 1984', '1984-08-27'),
 ('march 9 2016', '2016-03-09'),
 ('tuesday november 16 2004', '2004-11-16'),
 ('sunday april 9 1978', '1978-04-09'),
 ('9/19/02', '2002-09-19'),
 ('april 26 2012', '2012-04-26'),
 ('sunday march 10 1974', '1974-03-10'),
 ('thursday december 10 1970', '1970-12-10'),
 ('august 9 2012', '2012-08-09'),
 ('20 jun 2003', '2003-06-20'),
 ('monday march 2 1992', '1992-03-02'),
 ('08 jul 2011', '2011-07-08'),
 ('21 08 98', '1998-08-21'),
 ('jun 1 2007', '2007-06-01'),
 ('9/20/83', '1983-09-20'),
 ('16 october 1994', '1994-10-16'),
 ('09 feb 2015', '2015-02-09'),
 ('saturday july 15 2017', '2017-07-15'),
 ('15 02 78', '1978-02-15'),
 ('16 nov 2007', '2007-11-16'),
 ('8 march 1980', '1980-03-08'),
 ('friday june 13 1975', '1975-06-13'),
 ('friday september 5 2003', '2003-09-05'),
 ('march 23 1981', '1981-03-23'),
 ('november 1 1992', '1992-11-01'),
 ('wednesday september 11 1985', '1985-09-11'),
 ('31 october 1983', '1983-10-31'),
 ('monday february 16 1981', '1981-02-16'),
 ('january 28 1981', '1981-01-28'),
 ('14 aug 1989', '1989-08-14'),
 ('thursday march 20 1980', '1980-03-20'),
 ('friday july 21 2006', '2006-07-21'),
 ('monday march 1 1976', '1976-03-01'),
 ('thursday may 12 2005', '2005-05-12'),
 ('saturday may 6 2017', '2017-05-06'),
 ('tuesday march 24 1970', '1970-03-24'),
 ('saturday december 22 1979', '1979-12-22'),
 ('saturday march 21 1970', '1970-03-21'),
 ('3 october 2014', '2014-10-03'),
 ('october 4 2003', '2003-10-04'),
 ('31 jul 1982', '1982-07-31'),
 ('may 5 2011', '2011-05-05'),
 ('7/10/76', '1976-07-10'),
 ('saturday december 26 1987', '1987-12-26'),
 ('5/17/04', '2004-05-17'),
 ('august 21 1997', '1997-08-21'),
 ('02 jul 1974', '1974-07-02'),
 ('saturday may 12 2001', '2001-05-12'),
 ('11 05 98', '1998-05-11'),
 ('thursday may 20 1982', '1982-05-20'),
 ('tuesday july 22 1986', '1986-07-22'),
 ('18 jul 1982', '1982-07-18'),
 ('tuesday november 9 1971', '1971-11-09'),
 ('may 18 1995', '1995-05-18'),
 ('27 june 1992', '1992-06-27'),
 ('22 dec 1981', '1981-12-22'),
 ('tuesday november 12 1996', '1996-11-12'),
 ('sunday february 7 1982', '1982-02-07'),
 ('wednesday february 10 1982', '1982-02-10'),
 ('11/25/08', '2008-11-25'),
 ('friday april 8 2016', '2016-04-08'),
 ('friday april 8 2005', '2005-04-08'),
 ('wednesday december 10 1986', '1986-12-10'),
 ('saturday february 14 1998', '1998-02-14'),
 ('friday december 3 2004', '2004-12-03'),
 ('monday january 30 2017', '2017-01-30'),
 ('31 may 1998', '1998-05-31'),
 ('february 12 1992', '1992-02-12'),
 ('6 mar 1978', '1978-03-06'),
 ('saturday august 10 1974', '1974-08-10'),
 ('22 oct 2013', '2013-10-22'),
 ('3 may 2001', '2001-05-03'),
 ('april 11 1983', '1983-04-11'),
 ('29 sep 2012', '2012-09-29'),
 ('thursday april 12 2012', '2012-04-12'),
 ('saturday november 15 2008', '2008-11-15'),
 ('september 27 1983', '1983-09-27'),
 ('11 march 1979', '1979-03-11'),
 ('18 february 2006', '2006-02-18'),
 ('15.11.85', '1985-11-15'),
 ('tuesday june 23 1992', '1992-06-23'),
 ('23 august 2008', '2008-08-23'),
 ('22 11 89', '1989-11-22'),
 ('13 jul 1978', '1978-07-13'),
 ('friday august 18 2006', '2006-08-18'),
 ('23.09.04', '2004-09-23'),
 ('thursday march 9 2017', '2017-03-09'),
 ('30 aug 2015', '2015-08-30'),
 ('friday january 11 1974', '1974-01-11'),
 ('wednesday september 9 1987', '1987-09-09'),
 ('19 jan 1999', '1999-01-19'),
 ('saturday december 30 1972', '1972-12-30'),
 ('saturday october 8 1994', '1994-10-08'),
 ('28 february 2005', '2005-02-28'),
 ('20 jun 2006', '2006-06-20'),
 ('january 23 2009', '2009-01-23'),
 ('april 27 1977', '1977-04-27'),
 ('oct 28 2012', '2012-10-28'),
 ('saturday august 17 1974', '1974-08-17'),
 ('17 aug 1980', '1980-08-17'),
 ('apr 6 1995', '1995-04-06'),
 ('wednesday march 21 2018', '2018-03-21'),
 ('14 mar 2013', '2013-03-14'),
 ('28 may 1972', '1972-05-28'),
 ('16 sep 1988', '1988-09-16'),
 ('tuesday march 21 2000', '2000-03-21'),
 ('4 september 2016', '2016-09-04'),
 ('february 2 1995', '1995-02-02'),
 ('monday may 5 1997', '1997-05-05'),
 ('wednesday november 28 1990', '1990-11-28'),
 ('july 26 2000', '2000-07-26'),
 ('15 july 2011', '2011-07-15'),
 ('dec 28 1987', '1987-12-28'),
 ('saturday march 23 1991', '1991-03-23'),
 ('08.07.03', '2003-07-08'),
 ('10 september 2002', '2002-09-10'),
 ('june 5 1973', '1973-06-05'),
 ('saturday january 16 1988', '1988-01-16'),
 ('thursday april 27 2000', '2000-04-27'),
 ('friday december 31 1971', '1971-12-31'),
 ('12 december 1984', '1984-12-12'),
 ('25 06 93', '1993-06-25'),
 ('friday april 6 1979', '1979-04-06'),
 ('friday february 20 1970', '1970-02-20'),
 ('05.01.16', '2016-01-05'),
 ('28 jul 2012', '2012-07-28'),
 ('29 aug 1975', '1975-08-29'),
 ('jan 31 1972', '1972-01-31'),
 ('saturday july 23 1977', '1977-07-23'),
 ('31 december 2010', '2010-12-31'),
 ('10/16/82', '1982-10-16'),
 ('sunday january 5 1997', '1997-01-05'),
 ('tuesday may 20 2003', '2003-05-20'),
 ('monday may 17 1982', '1982-05-17'),
 ('7/21/88', '1988-07-21'),
 ('october 4 1993', '1993-10-04'),
 ('11 march 1984', '1984-03-11'),
 ('june 5 1990', '1990-06-05'),
 ('6/16/91', '1991-06-16'),
 ('monday june 3 1996', '1996-06-03'),
 ('20 02 75', '1975-02-20'),
 ('friday december 23 2011', '2011-12-23'),
 ('friday june 22 1990', '1990-06-22'),
 ('26 jan 1995', '1995-01-26'),
 ('monday october 2 1972', '1972-10-02'),
 ('monday july 13 1998', '1998-07-13'),
 ('monday november 29 1982', '1982-11-29'),
 ('wednesday december 3 1980', '1980-12-03'),
 ('monday july 28 1975', '1975-07-28'),
 ('21.09.79', '1979-09-21'),
 ('saturday november 10 1990', '1990-11-10'),
 ('monday october 21 1985', '1985-10-21'),
 ('august 25 1992', '1992-08-25'),
 ('15 11 98', '1998-11-15'),
 ('saturday september 3 1983', '1983-09-03'),
 ('friday december 11 1970', '1970-12-11'),
 ('mar 14 1980', '1980-03-14'),
 ('26 sep 1977', '1977-09-26'),
 ('thursday december 23 2004', '2004-12-23'),
 ('wednesday february 23 1972', '1972-02-23'),
 ('march 17 1993', '1993-03-17'),
 ('saturday september 7 1996', '1996-09-07'),
 ('wednesday september 25 1991', '1991-09-25'),
 ('wednesday october 11 1972', '1972-10-11'),
 ('wednesday june 4 1986', '1986-06-04'),
 ('11 oct 1976', '1976-10-11'),
 ('tuesday december 24 2002', '2002-12-24'),
 ('2/9/80', '1980-02-09'),
 ('monday may 11 2009', '2009-05-11'),
 ('saturday january 14 1984', '1984-01-14'),
 ('21 aug 1987', '1987-08-21'),
 ('oct 11 2008', '2008-10-11'),
 ('friday march 24 2006', '2006-03-24'),
 ('saturday june 4 1994', '1994-06-04'),
 ('saturday october 11 1980', '1980-10-11'),
 ('may 2 1989', '1989-05-02'),
 ('wednesday august 2 1972', '1972-08-02'),
 ('wednesday march 31 1976', '1976-03-31'),
 ('25 may 1976', '1976-05-25'),
 ('saturday november 26 2005', '2005-11-26'),
 ('10 feb 1984', '1984-02-10'),
 ('thursday may 24 2007', '2007-05-24'),
 ('friday april 23 2004', '2004-04-23'),
 ('24 sep 2014', '2014-09-24'),
 ('28 november 1997', '1997-11-28'),
 ('sunday august 28 2005', '2005-08-28'),
 ('thursday january 14 1971', '1971-01-14'),
 ('21.05.05', '2005-05-21'),
 ('saturday april 26 1980', '1980-04-26'),
 ('jan 16 2010', '2010-01-16'),
 ('march 6 2006', '2006-03-06'),
 ('friday february 21 1992', '1992-02-21'),
 ('7 jan 2010', '2010-01-07'),
 ('saturday february 21 1981', '1981-02-21'),
 ('17 february 2001', '2001-02-17'),
 ('19 mar 1998', '1998-03-19'),
 ('december 1 1999', '1999-12-01'),
 ('3 sep 1971', '1971-09-03'),
 ('19 apr 1995', '1995-04-19'),
 ('2/1/15', '2015-02-01'),
 ('11 nov 1971', '1971-11-11'),
 ('friday june 7 1996', '1996-06-07'),
 ('21 jan 1994', '1994-01-21'),
 ('17 november 2015', '2015-11-17'),
 ('monday october 23 2006', '2006-10-23'),
 ('12 oct 2014', '2014-10-12'),
 ('thursday june 10 2010', '2010-06-10'),
 ('28 february 1971', '1971-02-28'),
 ('22 sep 1991', '1991-09-22'),
 ('31 december 2001', '2001-12-31'),
 ('10/13/99', '1999-10-13'),
 ('saturday february 10 1973', '1973-02-10'),
 ('september 17 1991', '1991-09-17'),
 ('4/26/91', '1991-04-26'),
 ('wednesday july 3 1996', '1996-07-03'),
 ('tuesday april 24 1990', '1990-04-24'),
 ('july 16 1978', '1978-07-16'),
 ('3 november 1995', '1995-11-03'),
 ('june 22 2008', '2008-06-22'),
 ('13 05 12', '2012-05-13'),
 ('11/10/73', '1973-11-10'),
 ('tuesday october 21 2008', '2008-10-21'),
 ('22 jun 1977', '1977-06-22'),
 ('31 january 2003', '2003-01-31'),
 ('jan 29 1978', '1978-01-29'),
 ('saturday july 24 1976', '1976-07-24'),
 ('wednesday november 2 2011', '2011-11-02'),
 ('friday november 6 1981', '1981-11-06'),
 ('thursday april 6 1972', '1972-04-06'),
 ('tuesday june 26 1973', '1973-06-26'),
 ('monday january 7 1991', '1991-01-07'),
 ('24 sep 1984', '1984-09-24'),
 ('24 09 05', '2005-09-24'),
 ('jul 25 1976', '1976-07-25'),
 ('02 may 2001', '2001-05-02'),
 ('tuesday december 23 2003', '2003-12-23'),
 ('03 dec 2001', '2001-12-03'),
 ('thursday january 3 1974', '1974-01-03'),
 ('friday october 23 1998', '1998-10-23'),
 ('22 12 84', '1984-12-22'),
 ('monday february 11 1985', '1985-02-11'),
 ('jun 4 1992', '1992-06-04'),
 ('jan 12 1981', '1981-01-12'),
 ('monday january 29 1996', '1996-01-29'),
 ('saturday january 9 2010', '2010-01-09'),
 ('21 dec 2006', '2006-12-21'),
 ('friday june 13 1986', '1986-06-13'),
 ('7 september 2016', '2016-09-07'),
 ('02 feb 2002', '2002-02-02'),
 ('12 apr 1982', '1982-04-12'),
 ('mar 9 1984', '1984-03-09'),
 ('6 sep 2007', '2007-09-06'),
 ('sunday february 1 2009', '2009-02-01'),
 ('thursday july 5 2007', '2007-07-05'),
 ('wednesday july 17 2013', '2013-07-17'),
 ('21.07.84', '1984-07-21'),
 ('wednesday november 5 1980', '1980-11-05'),
 ('tuesday october 13 2015', '2015-10-13'),
 ('29 dec 2000', '2000-12-29'),
 ('26 december 1970', '1970-12-26'),
 ('thursday april 10 2014', '2014-04-10'),
 ('april 7 1983', '1983-04-07'),
 ('25 dec 1974', '1974-12-25'),
 ('monday september 30 1974', '1974-09-30'),
 ('sunday february 24 2008', '2008-02-24'),
 ('29 april 1978', '1978-04-29'),
 ('05 jun 1976', '1976-06-05'),
 ('19 january 1988', '1988-01-19'),
 ('29 july 2008', '2008-07-29'),
 ('wednesday january 15 1986', '1986-01-15'),
 ('saturday july 14 1984', '1984-07-14'),
 ('november 22 1988', '1988-11-22'),
 ('02.05.85', '1985-05-02'),
 ('13 november 2003', '2003-11-13'),
 ('3/10/95', '1995-03-10'),
 ('21 november 2016', '2016-11-21'),
 ('friday may 26 2000', '2000-05-26'),
 ('february 17 2015', '2015-02-17'),
 ('june 18 1997', '1997-06-18'),
 ('4 april 2008', '2008-04-04'),
 ('monday december 15 1986', '1986-12-15'),
 ('saturday april 12 2014', '2014-04-12'),
 ('wednesday august 30 2000', '2000-08-30'),
 ('29 apr 2004', '2004-04-29'),
 ('thursday may 19 1977', '1977-05-19'),
 ('tuesday april 5 2005', '2005-04-05'),
 ('wednesday january 19 1972', '1972-01-19'),
 ('thursday november 25 2004', '2004-11-25'),
 ('05 oct 2006', '2006-10-05'),
 ('monday may 2 2016', '2016-05-02'),
 ('16.01.95', '1995-01-16'),
 ('april 3 1986', '1986-04-03'),
 ('14 march 1997', '1997-03-14'),
 ('july 25 2003', '2003-07-25'),
 ('wednesday august 10 2016', '2016-08-10'),
 ('11 august 1975', '1975-08-11'),
 ('monday september 7 1998', '1998-09-07'),
 ('6 september 2001', '2001-09-06'),
 ('22 july 1977', '1977-07-22'),
 ('21 apr 1992', '1992-04-21'),
 ('wednesday december 17 1986', '1986-12-17'),
 ('25 mar 2000', '2000-03-25'),
 ('9/1/90', '1990-09-01'),
 ('24 nov 1998', '1998-11-24'),
 ('12 july 2008', '2008-07-12'),
 ('june 25 1978', '1978-06-25'),
 ('wednesday august 26 1981', '1981-08-26'),
 ('wednesday october 31 1984', '1984-10-31'),
 ('saturday december 24 2011', '2011-12-24'),
 ('10 mar 1996', '1996-03-10'),
 ('november 5 1987', '1987-11-05'),
 ('october 23 2008', '2008-10-23'),
 ('18 apr 2013', '2013-04-18'),
 ('23 december 1981', '1981-12-23'),
 ('tuesday october 23 2012', '2012-10-23'),
 ('wednesday may 20 1970', '1970-05-20'),
 ('thursday february 24 2005', '2005-02-24'),
 ('12 january 2019', '2019-01-12'),
 ('thursday october 20 1988', '1988-10-20'),
 ('14 aug 1971', '1971-08-14'),
 ('14 aug 2002', '2002-08-14'),
 ('wednesday august 12 1992', '1992-08-12'),
 ('sunday march 19 2017', '2017-03-19'),
 ('friday december 14 2012', '2012-12-14'),
 ('21.09.83', '1983-09-21'),
 ('28 07 12', '2012-07-28'),
 ('thursday july 26 1990', '1990-07-26'),
 ('wednesday december 1 1971', '1971-12-01'),
 ('23 jan 1997', '1997-01-23'),
 ('23 december 1994', '1994-12-23'),
 ('tuesday august 28 1984', '1984-08-28'),
 ('11 march 2008', '2008-03-11'),
 ('1/16/87', '1987-01-16'),
 ('6 sep 1985', '1985-09-06'),
 ('12.04.76', '1976-04-12'),
 ('20.11.83', '1983-11-20'),
 ('friday february 6 1987', '1987-02-06'),
 ('2/2/08', '2008-02-02'),
 ('26 may 1970', '1970-05-26'),
 ('tuesday february 16 1971', '1971-02-16'),
 ('april 19 1980', '1980-04-19'),
 ('5 may 2008', '2008-05-05'),
 ('monday august 10 2009', '2009-08-10'),
 ('27 january 1979', '1979-01-27'),
 ('thursday may 7 1992', '1992-05-07'),
 ('7/4/84', '1984-07-04'),
 ('27.09.78', '1978-09-27'),
 ('thursday june 23 2011', '2011-06-23'),
 ('thursday may 24 2012', '2012-05-24'),
 ('saturday november 10 1990', '1990-11-10'),
 ('20 september 2004', '2004-09-20'),
 ('wednesday june 14 1989', '1989-06-14'),
 ('wednesday december 22 1971', '1971-12-22'),
 ('april 19 1984', '1984-04-19'),
 ('saturday march 6 1999', '1999-03-06'),
 ('monday october 7 1996', '1996-10-07'),
 ('4 june 2016', '2016-06-04'),
 ('7/16/09', '2009-07-16'),
 ('4/29/97', '1997-04-29'),
 ('saturday december 28 2013', '2013-12-28'),
 ('31 jul 2013', '2013-07-31'),
 ('12 dec 2014', '2014-12-12'),
 ('wednesday december 15 1999', '1999-12-15'),
 ('tuesday november 4 2008', '2008-11-04'),
 ('friday april 11 2008', '2008-04-11'),
 ('thursday january 19 1989', '1989-01-19'),
 ('2 03 04', '2004-03-02'),
 ('22 03 89', '1989-03-22'),
 ('saturday july 22 2006', '2006-07-22'),
 ('23 dec 1974', '1974-12-23'),
 ('sunday october 19 2014', '2014-10-19'),
 ('6/25/02', '2002-06-25'),
 ('saturday october 7 2017', '2017-10-07'),
 ('2 nov 2002', '2002-11-02'),
 ('friday february 28 2014', '2014-02-28'),
 ('october 18 1980', '1980-10-18'),
 ('19 sep 1998', '1998-09-19'),
 ('monday march 26 1973', '1973-03-26'),
 ('15 november 2017', '2017-11-15'),
 ('9 september 1976', '1976-09-09'),
 ('11.02.78', '1978-02-11'),
 ('february 16 1988', '1988-02-16'),
 ('24 february 2015', '2015-02-24'),
 ('02 jun 1991', '1991-06-02'),
 ('1 february 1998', '1998-02-01'),
 ('friday september 13 1996', '1996-09-13'),
 ('13 jun 2002', '2002-06-13'),
 ('friday april 23 1976', '1976-04-23'),
 ('10 july 1996', '1996-07-10'),
 ('november 4 2016', '2016-11-04'),
 ('september 18 2013', '2013-09-18'),
 ('31 mar 1978', '1978-03-31'),
 ('april 29 1999', '1999-04-29'),
 ('23 aug 1985', '1985-08-23'),
 ('28 march 2012', '2012-03-28'),
 ('wednesday july 1 1970', '1970-07-01'),
 ('23 mar 2001', '2001-03-23'),
 ('aug 1 1980', '1980-08-01'),
 ('august 30 2012', '2012-08-30'),
 ('tuesday december 22 1970', '1970-12-22'),
 ('23.03.94', '1994-03-23'),
 ('sunday november 23 1980', '1980-11-23'),
 ('monday march 14 2016', '2016-03-14'),
 ('may 13 1988', '1988-05-13'),
 ('wednesday october 31 1979', '1979-10-31'),
 ('9 may 1996', '1996-05-09'),
 ('30.11.80', '1980-11-30'),
 ('tuesday march 26 1991', '1991-03-26'),
 ('12 dec 1991', '1991-12-12'),
 ('september 7 2012', '2012-09-07'),
 ('saturday november 20 2010', '2010-11-20'),
 ('july 8 1991', '1991-07-08'),
 ('4 april 1999', '1999-04-04'),
 ('friday september 1 1972', '1972-09-01'),
 ('07.02.94', '1994-02-07'),
 ('10 sep 1986', '1986-09-10'),
 ('sunday january 1 2017', '2017-01-01'),
 ('13 11 10', '2010-11-13'),
 ('2/25/01', '2001-02-25'),
 ('27 october 1971', '1971-10-27'),
 ('tuesday august 10 1993', '1993-08-10'),
 ('7 september 2015', '2015-09-07'),
 ('9/8/96', '1996-09-08'),
 ('monday november 17 2003', '2003-11-17'),
 ('wednesday may 2 1979', '1979-05-02'),
 ('april 24 2011', '2011-04-24'),
 ('thursday june 15 1995', '1995-06-15'),
 ('wednesday december 14 2016', '2016-12-14'),
 ('thursday august 21 2008', '2008-08-21'),
 ('sunday april 29 1990', '1990-04-29'),
 ('wednesday april 4 2007', '2007-04-04'),
 ('tuesday january 2 1979', '1979-01-02'),
 ('14 december 2003', '2003-12-14'),
 ('20 09 00', '2000-09-20'),
 ('tuesday january 31 2017', '2017-01-31'),
 ('5 oct 1970', '1970-10-05'),
 ('sep 24 2001', '2001-09-24'),
 ('friday january 6 1995', '1995-01-06'),
 ('saturday september 14 1985', '1985-09-14'),
 ('november 12 1997', '1997-11-12'),
 ('8 02 02', '2002-02-08'),
 ('5 may 1985', '1985-05-05'),
 ('12/20/11', '2011-12-20'),
 ('sunday august 1 2004', '2004-08-01'),
 ('february 21 1993', '1993-02-21'),

In [4]:
human_vocab

{' ': 0,
 '.': 1,
 '/': 2,
 '0': 3,
 '1': 4,
 '2': 5,
 '3': 6,
 '4': 7,
 '5': 8,
 '6': 9,
 '7': 10,
 '8': 11,
 '9': 12,
 '<pad>': 36,
 '<unk>': 35,
 'a': 13,
 'b': 14,
 'c': 15,
 'd': 16,
 'e': 17,
 'f': 18,
 'g': 19,
 'h': 20,
 'i': 21,
 'j': 22,
 'l': 23,
 'm': 24,
 'n': 25,
 'o': 26,
 'p': 27,
 'r': 28,
 's': 29,
 't': 30,
 'u': 31,
 'v': 32,
 'w': 33,
 'y': 34}

In [5]:
machine_vocab

{'-': 0,
 '0': 1,
 '1': 2,
 '2': 3,
 '3': 4,
 '4': 5,
 '5': 6,
 '6': 7,
 '7': 8,
 '8': 9,
 '9': 10}

You've loaded:
- `dataset`: a list of tuples of (human readable date, machine readable date)
- `human_vocab`: a python dictionary mapping all characters used in the human readable dates to an integer-valued index 
- `machine_vocab`: a python dictionary mapping all characters used in machine readable dates to an integer-valued index. These indices are not necessarily consistent with `human_vocab`. 
- `inv_machine_vocab`: the inverse dictionary of `machine_vocab`, mapping from indices back to characters. 

Let's preprocess the data and map the raw text data into the index values. We will also use Tx=30 (which we assume is the maximum length of the human readable date; if we get a longer input, we would have to truncate it) and Ty=10 (since "YYYY-MM-DD" is 10 characters long).

In [6]:
Tx = 30
Ty = 10
X, Y, Xoh, Yoh = preprocess_data(dataset, human_vocab, machine_vocab, Tx, Ty)

print("X.shape:", X.shape)
print("Y.shape:", Y.shape)
print("Xoh.shape:", Xoh.shape)
print("Yoh.shape:", Yoh.shape)

X.shape: (10000, 30)
Y.shape: (10000, 10)
Xoh.shape: (10000, 30, 37)
Yoh.shape: (10000, 10, 11)

In [9]:
Xoh

array([[[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 1.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  1.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  1., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.]],

       ...,
       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.]],

       [[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 1.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.],
        [ 0.,  0.,  0., ...,  0.,  0.,  1.]]])

You now have:
- `X`: a processed version of the human readable dates in the training set, where each character is replaced by an index mapped to the character via `human_vocab`. Each date is further padded to $T_x$ values with a special character (< pad >). `X.shape = (m, Tx)`
- `Y`: a processed version of the machine readable dates in the training set, where each character is replaced by the index it is mapped to in `machine_vocab`. You should have `Y.shape = (m, Ty)`. 
- `Xoh`: one-hot version of `X`, the "1" entry's index is mapped to the character thanks to `human_vocab`. `Xoh.shape = (m, Tx, len(human_vocab))`
- `Yoh`: one-hot version of `Y`, the "1" entry's index is mapped to the character thanks to `machine_vocab`. `Yoh.shape = (m, Tx, len(machine_vocab))`. Here, `len(machine_vocab) = 11` since there are 11 characters ('-' as well as 0-9).

Lets also look at some examples of preprocessed training examples. Feel free to play with `index` in the cell below to navigate the dataset and see how source/target dates are preprocessed.

In [4]:
index = 0
print("Source date:", dataset[index][0])
print("Target date:", dataset[index][1])
print()
print("Source after preprocessing (indices):", X[index])
print("Target after preprocessing (indices):", Y[index])
print()
print("Source after preprocessing (one-hot):", Xoh[index])
print("Target after preprocessing (one-hot):", Yoh[index])

Source date: 9 may 1998
Target date: 1998-05-09

Source after preprocessing (indices): [12  0 24 13 34  0  4 12 12 11 36 36 36 36 36 36 36 36 36 36 36 36 36 36 36
 36 36 36 36 36]
Target after preprocessing (indices): [ 2 10 10  9  0  1  6  0  1 10]

Source after preprocessing (one-hot): [[ 0.  0.  0. ...,  0.  0.  0.]
 [ 1.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  1.]
 [ 0.  0.  0. ...,  0.  0.  1.]
 [ 0.  0.  0. ...,  0.  0.  1.]]
Target after preprocessing (one-hot): [[ 0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.]
 [ 1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.]
 [ 1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.]]

## 2 - Neural machine translation with attention

If you had to translate a book's paragraph from French to English, you would not read the whole paragraph, then close the book and translate. Even during the translation process, you would read/re-read and focus on the parts of the French paragraph corresponding to the parts of the English you are writing down. 

The attention mechanism tells a Neural Machine Translation model where it should pay attention to at any step. 


### 2.1 - Attention mechanism

In this part, you will implement the attention mechanism presented in the lecture videos. Here is a figure to remind you how the model works. The diagram on the left shows the attention model. The diagram on the right shows what one "Attention" step does to calculate the attention variables $\alpha^{\langle t, t' \rangle}$, which are used to compute the context variable $context^{\langle t \rangle}$ for each timestep in the output ($t=1, \ldots, T_y$). 

<table>
<td> 
<img src="images/attn_model.png" style="width:500;height:500px;"> <br>
</td> 
<td> 
<img src="images/attn_mechanism.png" style="width:500;height:500px;"> <br>
</td> 
</table>
<caption><center> **Figure 1**: Neural machine translation with attention</center></caption>


Here are some properties of the model that you may notice: 

- There are two separate LSTMs in this model (see diagram on the left). Because the one at the bottom of the picture is a Bi-directional LSTM and comes *before* the attention mechanism, we will call it *pre-attention* Bi-LSTM. The LSTM at the top of the diagram comes *after* the attention mechanism, so we will call it the *post-attention* LSTM. The pre-attention Bi-LSTM goes through $T_x$ time steps; the post-attention LSTM goes through $T_y$ time steps. 

- The post-attention LSTM passes $s^{\langle t \rangle}, c^{\langle t \rangle}$ from one time step to the next. In the lecture videos, we were using only a basic RNN for the post-activation sequence model, so the state captured by the RNN output activations $s^{\langle t\rangle}$. But since we are using an LSTM here, the LSTM has both the output activation $s^{\langle t\rangle}$ and the hidden cell state $c^{\langle t\rangle}$. However, unlike previous text generation examples (such as Dinosaurus in week 1), in this model the post-activation LSTM at time $t$ does will not take the specific generated $y^{\langle t-1 \rangle}$ as input; it only takes $s^{\langle t\rangle}$ and $c^{\langle t\rangle}$ as input. We have designed the model this way, because (unlike language generation where adjacent characters are highly correlated) there isn't as strong a dependency between the previous character and the next character in a YYYY-MM-DD date. 

- We use $a^{\langle t \rangle} = [\overrightarrow{a}^{\langle t \rangle}; \overleftarrow{a}^{\langle t \rangle}]$ to represent the concatenation of the activations of both the forward-direction and backward-directions of the pre-attention Bi-LSTM. 

- The diagram on the right uses a `RepeatVector` node to copy $s^{\langle t-1 \rangle}$'s value $T_x$ times, and then `Concatenation` to concatenate $s^{\langle t-1 \rangle}$ and $a^{\langle t \rangle}$ to compute $e^{\langle t, t'}$, which is then passed through a softmax to compute $\alpha^{\langle t, t' \rangle}$. We'll explain how to use `RepeatVector` and `Concatenation` in Keras below. 

Lets implement this model. You will start by implementing two functions: `one_step_attention()` and `model()`.

**1) `one_step_attention()`**: At step $t$, given all the hidden states of the Bi-LSTM ($[a^{<1>},a^{<2>}, ..., a^{<T_x>}]$) and the previous hidden state of the second LSTM ($s^{<t-1>}$), `one_step_attention()` will compute the attention weights ($[\alpha^{<t,1>},\alpha^{<t,2>}, ..., \alpha^{<t,T_x>}]$) and output the context vector (see Figure  1 (right) for details):
$$context^{<t>} = \sum_{t' = 0}^{T_x} \alpha^{<t,t'>}a^{<t'>}\tag{1}$$ 

Note that we are denoting the attention in this notebook $context^{\langle t \rangle}$. In the lecture videos, the context was denoted $c^{\langle t \rangle}$, but here we are calling it $context^{\langle t \rangle}$ to avoid confusion with the (post-attention) LSTM's internal memory cell variable, which is sometimes also denoted $c^{\langle t \rangle}$. 
  
**2) `model()`**: Implements the entire model. It first runs the input through a Bi-LSTM to get back $[a^{<1>},a^{<2>}, ..., a^{<T_x>}]$. Then, it calls `one_step_attention()` $T_y$ times (`for` loop). At each iteration of this loop, it gives the computed context vector $c^{<t>}$ to the second LSTM, and runs the output of the LSTM through a dense layer with softmax activation to generate a prediction $\hat{y}^{<t>}$. 



**Exercise**: Implement `one_step_attention()`. The function `model()` will call the layers in `one_step_attention()` $T_y$ using a for-loop, and it is important that all $T_y$ copies have the same weights. I.e., it should not re-initiaiize the weights every time. In other words, all $T_y$ steps should have shared weights. Here's how you can implement layers with shareable weights in Keras:
1. Define the layer objects (as global variables for examples).
2. Call these objects when propagating the input.

We have defined the layers you need as global variables. Please run the following cells to create them. Please check the Keras documentation to make sure you understand what these layers are: [RepeatVector()](https://keras.io/layers/core/#repeatvector), [Concatenate()](https://keras.io/layers/merge/#concatenate), [Dense()](https://keras.io/layers/core/#dense), [Activation()](https://keras.io/layers/core/#activation), [Dot()](https://keras.io/layers/merge/#dot).

In [5]:
# Defined shared layers as global variables
repeator = RepeatVector(Tx)
concatenator = Concatenate(axis=-1)
densor1 = Dense(10, activation = "tanh")
densor2 = Dense(1, activation = "relu")
activator = Activation(softmax, name='attention_weights') # We are using a custom softmax(axis = 1) loaded in this notebook
dotor = Dot(axes = 1)

Now you can use these layers to implement `one_step_attention()`. In order to propagate a Keras tensor object X through one of these layers, use `layer(X)` (or `layer([X,Y])` if it requires multiple inputs.), e.g. `densor(X)` will propagate X through the `Dense(1)` layer defined above.

In [6]:
# GRADED FUNCTION: one_step_attention

def one_step_attention(a, s_prev):
    """
    Performs one step of attention: Outputs a context vector computed as a dot product of the attention weights
    "alphas" and the hidden states "a" of the Bi-LSTM.
    
    Arguments:
    a -- hidden state output of the Bi-LSTM, numpy-array of shape (m, Tx, 2*n_a)
    s_prev -- previous hidden state of the (post-attention) LSTM, numpy-array of shape (m, n_s)
    
    Returns:
    context -- context vector, input of the next (post-attetion) LSTM cell
    """
    
    ### START CODE HERE ###
    # Use repeator to repeat s_prev to be of shape (m, Tx, n_s) so that you can concatenate it with all hidden states "a" (≈ 1 line)
    s_prev = repeator(s_prev)
    # Use concatenator to concatenate a and s_prev on the last axis (≈ 1 line)
    concat = concatenator([s_prev,a])
    # Use densor1 to propagate concat through a small fully-connected neural network to compute the "intermediate energies" variable e. (≈1 lines)
    e = densor1(concat)
    # Use densor2 to propagate e through a small fully-connected neural network to compute the "energies" variable energies. (≈1 lines)
    energies = densor2(e)
    # Use "activator" on "energies" to compute the attention weights "alphas" (≈ 1 line)
    alphas = activator(energies)
    # Use dotor together with "alphas" and "a" to compute the context vector to be given to the next (post-attention) LSTM-cell (≈ 1 line)
    context = dotor([alphas,a])
    ### END CODE HERE ###
    
    return context

You will be able to check the expected output of `one_step_attention()` after you've coded the `model()` function.

**Exercise**: Implement `model()` as explained in figure 2 and the text above. Again, we have defined global layers that will share weights to be used in `model()`.

In [7]:
n_a = 32
n_s = 64
post_activation_LSTM_cell = LSTM(n_s, return_state = True)
output_layer = Dense(len(machine_vocab), activation=softmax)

Now you can use these layers $T_y$ times in a `for` loop to generate the outputs, and their parameters will not be reinitialized. You will have to carry out the following steps: 

1. Propagate the input into a [Bidirectional](https://keras.io/layers/wrappers/#bidirectional) [LSTM](https://keras.io/layers/recurrent/#lstm)
2. Iterate for $t = 0, \dots, T_y-1$: 
    1. Call `one_step_attention()` on $[\alpha^{<t,1>},\alpha^{<t,2>}, ..., \alpha^{<t,T_x>}]$ and $s^{<t-1>}$ to get the context vector $context^{<t>}$.
    2. Give $context^{<t>}$ to the post-attention LSTM cell. Remember pass in the previous hidden-state $s^{\langle t-1\rangle}$ and cell-states $c^{\langle t-1\rangle}$ of this LSTM using `initial_state= [previous hidden state, previous cell state]`. Get back the new hidden state $s^{<t>}$ and the new cell state $c^{<t>}$.
    3. Apply a softmax layer to $s^{<t>}$, get the output. 
    4. Save the output by adding it to the list of outputs.

3. Create your Keras model instance, it should have three inputs ("inputs", $s^{<0>}$ and $c^{<0>}$) and output the list of "outputs".

In [30]:
# GRADED FUNCTION: model

def model(Tx, Ty, n_a, n_s, human_vocab_size, machine_vocab_size):
    """
    Arguments:
    Tx -- length of the input sequence
    Ty -- length of the output sequence
    n_a -- hidden state size of the Bi-LSTM
    n_s -- hidden state size of the post-attention LSTM
    human_vocab_size -- size of the python dictionary "human_vocab"
    machine_vocab_size -- size of the python dictionary "machine_vocab"

    Returns:
    model -- Keras model instance
    """
    
    # Define the inputs of your model with a shape (Tx,)
    # Define s0 and c0, initial hidden state for the decoder LSTM of shape (n_s,)
    X = Input(shape=(Tx, human_vocab_size))
    s0 = Input(shape=(n_s,), name='s0')
    c0 = Input(shape=(n_s,), name='c0')
    s = s0
    c = c0
    
    # Initialize empty list of outputs
    outputs = []
    
    ### START CODE HERE ###
    
    # Step 1: Define your pre-attention Bi-LSTM. Remember to use return_sequences=True. (≈ 1 line)
    a = Bidirectional(LSTM(n_a,return_sequences=True),input_shape=X.shape)(X)
    
    # Step 2: Iterate for Ty steps
    for t in range(Ty):
    
        # Step 2.A: Perform one step of the attention mechanism to get back the context vector at step t (≈ 1 line)
        context = one_step_attention(a, s)
        
        # Step 2.B: Apply the post-attention LSTM cell to the "context" vector.
        # Don't forget to pass: initial_state = [hidden state, cell state] (≈ 1 line)
        s, _, c = post_activation_LSTM_cell(context,initial_state= [s,c])
        
        # Step 2.C: Apply Dense layer to the hidden state output of the post-attention LSTM (≈ 1 line)
        out = output_layer(s)
        
        # Step 2.D: Append "out" to the "outputs" list (≈ 1 line)
        outputs.append(out)
    
    # Step 3: Create model instance taking three inputs and returning the list of outputs. (≈ 1 line)
    model = Model(inputs=[X,s0,c0],outputs=outputs)
    
    ### END CODE HERE ###
    
    return model

Run the following cell to create your model.

In [31]:
model = model(Tx, Ty, n_a, n_s, len(human_vocab), len(machine_vocab))

Let's get a summary of the model to check if it matches the expected output.

In [32]:
model.summary()

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
s0 (InputLayer)                  (None, 64)            0
____________________________________________________________________________________________________
input_2 (InputLayer)             (None, 30, 37)        0
____________________________________________________________________________________________________
repeat_vector_1 (RepeatVector)   (None, 30, 64)        0           s0[0][0]
                                                                   lstm_1[10][0]
                                                                   lstm_1[11][0]
                                                                   lstm_1[12][0]
                                                                   lstm_1[13][0]
                                                                   lstm_1[14][0]
                                                                   lstm_1[15][0]
                                                                   lstm_1[16][0]
                                                                   lstm_1[17][0]
                                                                   lstm_1[18][0]
____________________________________________________________________________________________________
bidirectional_2 (Bidirectional)  (None, 30, 64)        17920       input_2[0][0]
____________________________________________________________________________________________________
concatenate_1 (Concatenate)      (None, 30, 128)       0           repeat_vector_1[10][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[11][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[12][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[13][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[14][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[15][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[16][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[17][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[18][0]
                                                                   bidirectional_2[0][0]
                                                                   repeat_vector_1[19][0]
                                                                   bidirectional_2[0][0]
____________________________________________________________________________________________________
dense_1 (Dense)                  (None, 30, 10)        1290        concatenate_1[10][0]
                                                                   concatenate_1[11][0]
                                                                   concatenate_1[12][0]
                                                                   concatenate_1[13][0]
                                                                   concatenate_1[14][0]
                                                                   concatenate_1[15][0]
                                                                   concatenate_1[16][0]
                                                                   concatenate_1[17][0]
                                                                   concatenate_1[18][0]
                                                                   concatenate_1[19][0]
____________________________________________________________________________________________________
dense_2 (Dense)                  (None, 30, 1)         11          dense_1[10][0]
                                                                   dense_1[11][0]
                                                                   dense_1[12][0]
                                                                   dense_1[13][0]
                                                                   dense_1[14][0]
                                                                   dense_1[15][0]
                                                                   dense_1[16][0]
                                                                   dense_1[17][0]
                                                                   dense_1[18][0]
                                                                   dense_1[19][0]
____________________________________________________________________________________________________
attention_weights (Activation)   (None, 30, 1)         0           dense_2[10][0]
                                                                   dense_2[11][0]
                                                                   dense_2[12][0]
                                                                   dense_2[13][0]
                                                                   dense_2[14][0]
                                                                   dense_2[15][0]
                                                                   dense_2[16][0]
                                                                   dense_2[17][0]
                                                                   dense_2[18][0]
                                                                   dense_2[19][0]
____________________________________________________________________________________________________
dot_1 (Dot)                      (None, 1, 64)         0           attention_weights[10][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[11][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[12][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[13][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[14][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[15][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[16][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[17][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[18][0]
                                                                   bidirectional_2[0][0]
                                                                   attention_weights[19][0]
                                                                   bidirectional_2[0][0]
____________________________________________________________________________________________________
c0 (InputLayer)                  (None, 64)            0
____________________________________________________________________________________________________
lstm_1 (LSTM)                    [(None, 64), (None, 6 33024       dot_1[10][0]
                                                                   s0[0][0]
                                                                   c0[0][0]
                                                                   dot_1[11][0]
                                                                   lstm_1[10][0]
                                                                   lstm_1[10][2]
                                                                   dot_1[12][0]
                                                                   lstm_1[11][0]
                                                                   lstm_1[11][2]
                                                                   dot_1[13][0]
                                                                   lstm_1[12][0]
                                                                   lstm_1[12][2]
                                                                   dot_1[14][0]
                                                                   lstm_1[13][0]
                                                                   lstm_1[13][2]
                                                                   dot_1[15][0]
                                                                   lstm_1[14][0]
                                                                   lstm_1[14][2]
                                                                   dot_1[16][0]
                                                                   lstm_1[15][0]
                                                                   lstm_1[15][2]
                                                                   dot_1[17][0]
                                                                   lstm_1[16][0]
                                                                   lstm_1[16][2]
                                                                   dot_1[18][0]
                                                                   lstm_1[17][0]
                                                                   lstm_1[17][2]
                                                                   dot_1[19][0]
                                                                   lstm_1[18][0]
                                                                   lstm_1[18][2]
____________________________________________________________________________________________________
dense_3 (Dense)                  (None, 11)            715         lstm_1[10][0]
                                                                   lstm_1[11][0]
                                                                   lstm_1[12][0]
                                                                   lstm_1[13][0]
                                                                   lstm_1[14][0]
                                                                   lstm_1[15][0]
                                                                   lstm_1[16][0]
                                                                   lstm_1[17][0]
                                                                   lstm_1[18][0]
                                                                   lstm_1[19][0]
====================================================================================================
Total params: 52,960
Trainable params: 52,960
Non-trainable params: 0
____________________________________________________________________________________________________

**Expected Output**:

Here is the summary you should see
<table>
    <tr>
        <td>
            **Total params:**
        </td>
        <td>
         52,960
        </td>
    </tr>
        <tr>
        <td>
            **Trainable params:**
        </td>
        <td>
         52,960
        </td>
    </tr>
            <tr>
        <td>
            **Non-trainable params:**
        </td>
        <td>
         0
        </td>
    </tr>
                    <tr>
        <td>
            **bidirectional_1's output shape **
        </td>
        <td>
         (None, 30, 64)  
        </td>
    </tr>
    <tr>
        <td>
            **repeat_vector_1's output shape **
        </td>
        <td>
         (None, 30, 64) 
        </td>
    </tr>
                <tr>
        <td>
            **concatenate_1's output shape **
        </td>
        <td>
         (None, 30, 128) 
        </td>
    </tr>
            <tr>
        <td>
            **attention_weights's output shape **
        </td>
        <td>
         (None, 30, 1)  
        </td>
    </tr>
        <tr>
        <td>
            **dot_1's output shape **
        </td>
        <td>
         (None, 1, 64)
        </td>
    </tr>
           <tr>
        <td>
            **dense_3's output shape **
        </td>
        <td>
         (None, 11) 
        </td>
    </tr>
</table>

As usual, after creating your model in Keras, you need to compile it and define what loss, optimizer and metrics your are want to use. Compile your model using `categorical_crossentropy` loss, a custom [Adam](https://keras.io/optimizers/#adam) [optimizer](https://keras.io/optimizers/#usage-of-optimizers) (`learning rate = 0.005`, $\beta_1 = 0.9$, $\beta_2 = 0.999$, `decay = 0.01`)  and `['accuracy']` metrics:

In [33]:
### START CODE HERE ### (≈2 lines)
opt = Adam(lr=0.005, beta_1=0.9, beta_2=0.999, decay=0.01)
model.compile(optimizer=opt,loss='categorical_crossentropy',metrics=['accuracy'])
### END CODE HERE ###

The last step is to define all your inputs and outputs to fit the model:
- You already have X of shape $(m = 10000, T_x = 30)$ containing the training examples.
- You need to create `s0` and `c0` to initialize your `post_activation_LSTM_cell` with 0s.
- Given the `model()` you coded, you need the "outputs" to be a list of 11 elements of shape (m, T_y). So that: `outputs[i][0], ..., outputs[i][Ty]` represent the true labels (characters) corresponding to the $i^{th}$ training example (`X[i]`). More generally, `outputs[i][j]` is the true label of the $j^{th}$ character in the $i^{th}$ training example.

In [34]:
s0 = np.zeros((m, n_s))
c0 = np.zeros((m, n_s))
outputs = list(Yoh.swapaxes(0,1))

Let's now fit the model and run it for one epoch.

In [37]:
model.fit([Xoh, s0, c0], outputs, epochs=1, batch_size=100)

Epoch 1/1
10000/10000 [==============================] - 30s - loss: 0.8306 - dense_3_loss_1: 0.0169 - dense_3_loss_2: 0.0031 - dense_3_loss_3: 0.0184 - dense_3_loss_4: 0.0218 - dense_3_loss_5: 1.0465e-04 - dense_3_loss_6: 0.0528 - dense_3_loss_7: 0.2476 - dense_3_loss_8: 7.1638e-04 - dense_3_loss_9: 0.1717 - dense_3_loss_10: 0.2974 - dense_3_acc_1: 0.9939 - dense_3_acc_2: 0.9993 - dense_3_acc_3: 0.9990 - dense_3_acc_4: 0.9997 - dense_3_acc_5: 1.0000 - dense_3_acc_6: 0.9819 - dense_3_acc_7: 0.9227 - dense_3_acc_8: 1.0000 - dense_3_acc_9: 0.9416 - dense_3_acc_10: 0.8885

In [28]:
# model.fit([Xoh, s0, c0], outputs, epochs=10, batch_size=100)

While training you can see the loss as well as the accuracy on each of the 10 positions of the output. The table below gives you an example of what the accuracies could be if the batch had 2 examples: 

<img src="images/table.png" style="width:700;height:200px;"> <br>
<caption><center>Thus, `dense_2_acc_8: 0.89` means that you are predicting the 7th character of the output correctly 89% of the time in the current batch of data. </center></caption>


We have run this model for longer, and saved the weights. Run the next cell to load our weights. (By training a model for several minutes, you should be able to obtain a model of similar accuracy, but loading our model will save you time.)

In [29]:
# model.fit([Xoh, s0, c0], outputs, epochs=10, batch_size=100)

In [15]:
# model.load_weights('models/model.h5')

You can now see the results on new examples.

In [43]:
EXAMPLES = ['3rd May 1979', '5 April 2009', '21st August 2016', 'Tue 10 Jul 2007', 'Saturday May 9 2018', 'March 3 2001', 'March 3rd 2001', '1st March 2001']
for example in EXAMPLES:
    
    source = string_to_int(example, Tx, human_vocab)
    source = np.array(list(map(lambda x: to_categorical(x, num_classes=len(human_vocab)), source))).swapaxes(0,1)
    prediction = model.predict([source, s0, c0])
    prediction = np.argmax(prediction, axis = -1)
    output = [inv_machine_vocab[int(i)] for i in prediction]
    
    print("source:", example)
    print("output:", ''.join(output))

source: 3rd May 1979
output: 1979-05-03
source: 5 April 2009
output: 2009-04-05
source: 21st August 2016
output: 2016-08-22
source: Tue 10 Jul 2007
output: 2007-07-10
source: Saturday May 9 2018
output: 2018-05-09
source: March 3 2001
output: 2001-03-03
source: March 3rd 2001
output: 2001-03-03
source: 1st March 2001
output: 2001-03-01

You can also change these examples to test with your own examples. The next part will give you a better sense on what the attention mechanism is doing--i.e., what part of the input the network is paying attention to when generating a particular output character.

## 3 - Visualizing Attention (Optional / Ungraded)

Since the problem has a fixed output length of 10, it is also possible to carry out this task using 10 different softmax units to generate the 10 characters of the output. But one advantage of the attention model is that each part of the output (say the month) knows it needs to depend only on a small part of the input (the characters in the input giving the month). We can  visualize what part of the output is looking at what part of the input.

Consider the task of translating "Saturday 9 May 2018" to "2018-05-09". If we visualize the computed $\alpha^{\langle t, t' \rangle}$ we get this: 

<img src="images/date_attention.png" style="width:600;height:300px;"> <br>
<caption><center> **Figure 8**: Full Attention Map</center></caption>

Notice how the output ignores the "Saturday" portion of the input. None of the output timesteps are paying much attention to that portion of the input. We see also that 9 has been translated as 09 and May has been correctly translated into 05, with the output paying attention to the parts of the input it needs to to make the translation. The year mostly requires it to pay attention to the input's "18" in order to generate "2018."

### 3.1 - Getting the activations from the network

Lets now visualize the attention values in your network. We'll propagate an example through the network, then visualize the values of $\alpha^{\langle t, t' \rangle}$. 

To figure out where the attention values are located, let's start by printing a summary of the model .

In [ ]:
model.summary()

Navigate through the output of `model.summary()` above. You can see that the layer named `attention_weights` outputs the `alphas` of shape (m, 30, 1) before `dot_2` computes the context vector for every time step $t = 0, \ldots, T_y-1$. Lets get the activations from this layer.

The function `attention_map()` pulls out the attention values from your model and plots them.

In [ ]:
attention_map = plot_attention_map(model, human_vocab, inv_machine_vocab, "Tuesday 09 Oct 1993", num = 7, n_s = 64)

On the generated plot you can observe the values of the attention weights for each character of the predicted output. Examine this plot and check that where the network is paying attention makes sense to you.

In the date translation application, you will observe that most of the time attention helps predict the year, and hasn't much impact on predicting the day/month.

### Congratulations!


You have come to the end of this assignment 

<font color='blue'> **Here's what you should remember from this notebook**:

- Machine translation models can be used to map from one sequence to another. They are useful not just for translating human languages (like French->English) but also for tasks like date format translation. 
- An attention mechanism allows a network to focus on the most relevant parts of the input when producing a specific part of the output. 
- A network using an attention mechanism can translate from inputs of length $T_x$ to outputs of length $T_y$, where $T_x$ and $T_y$ can be different. 
- You can visualize attention weights $\alpha^{\langle t,t' \rangle}$ to see what the network is paying attention to while generating each output.

Congratulations on finishing this assignment! You are now able to implement an attention model and use it to learn complex mappings from one sequence to another.